html,
body,
#root {
  height: 100%;
}

.App {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;

  .btn {
    padding: 10px;
    background-color: #3c5a99;
    color: #fff;
    border-radius: 6px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    width: 100px;
  }

  .chat-container {
    flex: 1;
  }
}
